<!-- _includes/image.html -->
<div class="image-wrapper">
    {% if include.url %}
    <a href="{{ include.url }}" title="{{ include.title }}" target="_blank" width="{{ include.width }}" and
        height="{{ include.height }}" alt="{{ include.alt }}">
        {% endif %}
        <img src="{{ site.url }}/{{ include.img }}" alt="{{ include.title }}" width="{{ include.width }}" and
            height="{{ include.height }}" alt="{{ include.alt }}"/>
        {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
    <p class="image-caption">{{ include.caption }}</p>
    {% endif %}
</div>
