.image-wrapper {
    text-align: center;


}
.image-caption {
    color:  grey;
    margin-top: 5px;
    font-size: 80%
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

.center-table{
    margin-left: auto;
    margin-right: auto;
}

.dt-col {
    text-align: center;
}
