<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">
{% include head.html %}
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {% include topbar.html %}

  <main id="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
  {%- if page.datatable %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" defer></script>
  <script src="{{ '/assets/js/datatable.js' | relative_url }}" defer></script>
  {%- endif %}
  {%- if page.js %}
  {%- for js in page.js %}
  <script src="{{ js | relative_url }}" defer></script>
  {%- endfor %}
  {%- endif %}
</body>
</html>
